:root {
  --bg-color: #f5d99e;
  --text-color: #333333;
  --card-bg: #b2faca2a;
  --card-shadow: rgba(243, 6, 6, 0.274);
}

[data-theme='dark'] {
  --bg-color: #202036;
  --text-color: #ffffff;
  --card-bg: #3a3244;
  --card-shadow: rgb(234, 248, 39);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* 全体レイアウト */
.content-container {
  position: relative;
  width: 100%;
  height: auto;
}

/* セクションごとのレイアウトを固定 */
.section {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

/* フェードイン・フェードアウトアニメーション */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-out;
}




.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
